    @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400;500&family=Space+Mono&display=swap');
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    body {
        width: 100%;
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }
    /*---EMPIZA MIS CSS--*/
    /*--Modifico las imagenes del fondo--*/
    
    .imgBack {
        background-repeat: no-repeat;
        background-size: cover;
        transition: background 10s linear;
    }
    /*--- Reloj ----*/
    
    .web-principal {
        display: flex;
        align-items: center;
        gap: 20px;
        text-decoration: none;
        color: whitesmoke;
    }
    
    .container-Header {
        padding: 20px;
        display: flex;
        justify-content: flex-start;
    }
    
    .form_reloj {
        display: flex;
        padding: 12%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .phraseOTDay {
        padding: 5px;
        font-size: 1em;
        color: rgba(245, 245, 245, 0.693);
    }
    
    p {
        font-size: 2em;
        color: rgba(245, 245, 245, 0.693);
    }
    
    .reloj {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 8em;
        color: rgba(245, 245, 245, 0.549);
    }
    /*---Date-----*/
    
    .date {
        font-size: 1em;
        color: rgba(245, 245, 245, 0.693);
    }
    /*----footer Reloj---*/
    
    .containerNav {
        display: flex;
        justify-content: flex-end;
    }
    
    .ul-footer {
        display: flex;
        gap: 25px;
        height: 180px;
        align-items: flex-end;
    }
    /*-----CONTRASEÑA-----*/
    
    .ul-footerC {
        display: flex;
        gap: 25px;
        height: 110px;
        align-items: flex-end;
    }
    
    .contraseña P {
        font-size: 2em;
        color: rgba(245, 245, 245, 0.693);
    }
    
    .contraseña div {
        font-size: 1em;
        color: rgba(245, 245, 245, 0.693);
    }
    
    .container-contraseña {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 12%;
        padding-right: 12%;
    }
    
    .container-contraseña div {
        padding: 5%;
        padding-left: 2px;
    }
    
    .mostrar-contraseña {
        padding-left: 2px;
        border-radius: 10px;
        height: 20px;
        color: white;
        background-color: darkblue;
    }
    
    .num-contraseñas {
        width: 30px;
        border-radius: 5px;
        background-color: whitesmoke;
        color: black;
    }
    
    .btnComtraseña {
        height: 30px;
        border-radius: 8px;
        color: whitesmoke;
        background-color: rgba(23, 84, 228, 0.86);
    }
    /*----LISTADO------*/
    
    .container-listado {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .listado p {
        font-size: 1.5em;
    }
    
    .listado {
        flex-direction: column;
        display: flex;
        justify-content: center;
        height: 500px;
    }
    
     ::placeholder {
        font-size: 8px;
    }
    
    .enl-desc {
        margin: 5px;
    }
    
    .enlc-nombre {
        margin: 5px;
    }
    
    .btnAñadirEnlace {
        width: 310px;
        margin: 10px;
        border-radius: 5px;
        color: whitesmoke;
        background-color: rgba(23, 84, 228, 0.86);
        transition: box-shadow 0.25s ease-in-out;
        box-shadow: 0px 0px #fff;
    }
    
    .btnAñadirEnlace:hover {
        box-shadow: 6px 6px 0 #fff;
    }
    
    .ul-footerL {
        display: flex;
        gap: 25px;
        height: 340px;
        align-items: flex-end;
    }
    
    .containerList {
        width: 317px;
    }
    
    .listado-enlaces {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .listado-enlaces li {
        display: flex;
        position: relative;
        left: 5px;
        justify-content: center;
        align-content: center;
        align-items: center;
        border: 1px solid rgba(245, 245, 245, 0.693);
        border-radius: 5px;
        width: 90px;
        height: 50px;
        color: #fff;
    }
    
    .hidden .cerrar {
        cursor: pointer;
        position: absolute;
        top: -2px;
        right: -2px;
    }
    /*----Meteorologico--------*/
    
    .ul-footerE {
        display: flex;
        gap: 25px;
        height: 240px;
        align-items: flex-end;
    }
    /*
    .form-temperatura {
        display: flex;
    }*/
    
    .infoCiudad {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-top: 20px;
    }
    
    .container-temperatura {
        display: flex;
        justify-content: center;
        font-size: 8px;
        height: 600px;
    }
    
    .form-temperatura {
        border-radius: 8%;
        width: 550px;
        height: 400px;
        margin-top: 100px;
    }
    
    .contendo-TempTiempo {
        display: flex;
        justify-content: center;
        height: 100px;
    }
    
    .list-tiempo {
        display: flex;
        flex-direction: column;
        width: 550px;
        height: 200px;
        overflow-x: scroll;
    }
    
    .list_horas {
        display: flex;
        align-items: center;
        gap: 22px;
        width: 400px;
        height: 60px;
        display: flex;
    }
    
    .list_img {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 400px;
        height: 60px;
        display: flex;
    }
    
    .list_grados {
        display: flex;
        align-items: center;
        gap: 22px;
        width: 400px;
        height: 60px;
    }
    /*----------------*/
    
    .temperatura {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        width: 800px;
    }
    
    .temperatura img {
        display: flex;
    }
    
    .grados {
        font-size: 22px;
        color: #fff;
    }
    
    .iconoGrados {
        padding-left: 30px;
    }
    
    .tipotiempo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        width: 800px;
    }
    
    .prec_lluvias,
    .humedad,
    .viento {
        height: 25px;
        display: flex;
        align-items: center;
    }
    
    .list-tiempo {
        display: flex;
    }