@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400;500&family=Space+Mono&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}


/*---EMPIZA MIS CSS--*/


/*--Modifico las imagenes del fondo--*/

.imgBack {
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 10s linear;
}


/*--- Reloj ----*/

.web-principal {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: whitesmoke;
}

.container-Header {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

.form_reloj {
    display: flex;
    padding: 12%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.phraseOTDay {
    padding: 5px;
    font-size: 1em;
    color: rgba(245, 245, 245, 0.693);
}

p {
    font-size: 2em;
    color: rgba(245, 245, 245, 0.693);
}

.reloj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 8em;
    color: rgba(245, 245, 245, 0.549);
}


/*---Date-----*/

.date {
    font-size: 1em;
    color: rgba(245, 245, 245, 0.693);
}


/*----footer Reloj---*/

.containerNav {
    display: flex;
    justify-content: flex-end;
}

.ul-footer {
    display: flex;
    padding-right: 15px;
    gap: 25px;
    height: 170px;
    align-items: flex-end;
}


/*-----CONTRASEÑA-----*/

.ul-footerC {
    display: flex;
    padding-right: 15px;
    gap: 25px;
    height: 95px;
    align-items: flex-end;
}

.contraseña P {
    font-size: 2em;
    color: rgba(245, 245, 245, 0.693);
}

.contraseña div {
    font-size: 1em;
    color: rgba(245, 245, 245, 0.693);
}

.container-contraseña {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12%;
    padding-right: 12%;
}

.container-contraseña div {
    padding: 5%;
    padding-left: 2px;
}

.mostrar-contraseña {
    padding-left: 2px;
    border-radius: 10px;
    height: 20px;
    color: white;
    background-color: darkblue;
}

.num-contraseñas {
    width: 30px;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
}

.btnComtraseña {
    height: 30px;
    border-radius: 8px;
    color: whitesmoke;
    background-color: rgba(23, 84, 228, 0.86);
}